@model Examen1NETWEB.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente1.Rut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente1.Rut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto1.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto1.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
